{% extends 'news/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit" class="btn btn-sm btn-outline-secondary">Log in</button>
    </form> <br/>
    <h6>Or registration:</h6>
    <a href="{% url 'register' %}" class="btn btn-sm btn-outline-secondary">Registration</a>
{% endblock %}