{% extends 'news/base.html' %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}

    <h1 class="fst-italic">{{ article.title }}</h1>
    <br>
    <strong>Tag:</strong> {{ article.category }}<br>
    <strong>Author:</strong> {{ article.author }}<br><br>
    {% if article.photo %}
        <p><img class="img-article-left" src="{{ article.photo.url }}"></p>
    {% endif %}
    <p>{{ article.text }}</p>
    <br>
    <hr/>

    {% if article.video %}
        <iframe width="560" height="315" src="{{ article.video }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}


<br/><br/><br/>

    {% with comments.count as total_comments %}
        <h3>
            {{ total_comments }} Last comment{{ total_comments|pluralize }}:
        </h3>
    {% endwith %}
    <button class="btn btn-sm btn-outline-secondary"><a href="{% url 'add_comment' %} ">Add new comment</a></button>
    {% for i in comments %}
        <hr/>
        <div class="comment">
            <p class="info">
               Name: <i>{{ i.name }}</i> <br>
                Email: <i>{{ i.email }}</i> <br><br>
                {{ i.comment_text }}<br><br>
                <i>date: {{ i.comment_create }}</i><br>

            </p>
        </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}


{% endblock %}