
{% extends 'news/base.html' %}
{% block title %}Main page{% endblock %}
{% block content %}


{% for article in articles %}
<div class="row mb-2">
    <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">{{article.category}}</strong>
                <h3 class="mb-0">{{article.title}}</h3>
                <div class="mb-1 text-muted">{{article.create | date:"d-m-Y H:i:s"}}</div>
                <p class="card-text mb-auto">{{article.text | truncatewords:35 }}</p>
                <a href="{{ article.get_absolute_url }}" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                {% if article.photo %}
                <p><img class="img-article-left" src="{{article.photo.url}}"></p>
                {% endif %}
                </svg>

            </div>
        </div>
    </div>
</div>

{% empty %}
<h2><li>There are no articles for this tag yet, go back to tags: <a href="{% url 'tags' %}">back</a></li></h2>
    <h6>(Or add an article to this tag ^.^ )</h6>

{% endfor %}


{% endblock %}